## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here

s_l=list(range(0,101))

sample_list_1=random.sample(s_l,80)

print(sample_list_1)

[87, 82, 9, 10, 66, 98, 23, 27, 97, 46, 88, 44, 77, 15, 69, 11, 45, 100, 93, 34, 61, 63, 83, 72, 75, 51, 36, 31, 68, 37, 3, 17, 84, 2, 16, 58, 40, 26, 7, 55, 29, 81, 60, 94, 73, 33, 90, 57, 92, 62, 52, 76, 5, 99, 59, 1, 79, 19, 14, 56, 50, 54, 24, 80, 64, 32, 65, 28, 95, 42, 21, 86, 74, 89, 91, 25, 39, 13, 18, 67]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here

set1=set(sample_list_1)
print(sample_list_1)

[87, 82, 9, 10, 66, 98, 23, 27, 97, 46, 88, 44, 77, 15, 69, 11, 45, 100, 93, 34, 61, 63, 83, 72, 75, 51, 36, 31, 68, 37, 3, 17, 84, 2, 16, 58, 40, 26, 7, 55, 29, 81, 60, 94, 73, 33, 90, 57, 92, 62, 52, 76, 5, 99, 59, 1, 79, 19, 14, 56, 50, 54, 24, 80, 64, 32, 65, 28, 95, 42, 21, 86, 74, 89, 91, 25, 39, 13, 18, 67]

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here

import random 

sample_list_2=[]

for i in range (0,100):
    sample_list_2.append(random.randint(0,100))
    
print(sample_list_2)

[52, 15, 22, 94, 98, 40, 11, 31, 19, 48, 66, 90, 13, 41, 56, 32, 67, 34, 84, 36, 67, 20, 57, 17, 0, 12, 99, 28, 69, 11, 39, 95, 75, 37, 57, 30, 7, 67, 50, 6, 95, 67, 36, 44, 42, 83, 35, 45, 71, 66, 38, 65, 98, 31, 12, 25, 16, 9, 28, 11, 5, 70, 9, 96, 71, 9, 64, 83, 60, 76, 72, 98, 6, 71, 52, 13, 67, 64, 30, 3, 18, 42, 58, 29, 29, 45, 72, 78, 2, 7, 53, 38, 20, 70, 5, 52, 72, 21, 92, 30]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set2=set(sample_list_2)
print(set2)

{0, 2, 3, 5, 6, 7, 9, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 25, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 48, 50, 52, 53, 56, 57, 58, 60, 64, 65, 66, 67, 69, 70, 71, 72, 75, 76, 78, 83, 84, 90, 92, 94, 95, 96, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here

set3=set1-set2
print(set3)

{1, 10, 14, 23, 24, 26, 27, 33, 46, 51, 54, 55, 59, 61, 62, 63, 68, 73, 74, 77, 79, 80, 81, 82, 86, 87, 88, 89, 91, 93, 97, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here

set4=set2-set1
print(set4)

{0, 96, 35, 6, 38, 70, 41, 71, 12, 78, 48, 20, 53, 22, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here

set5=set1.intersection(set2)
print(set5)

{2, 3, 5, 7, 9, 11, 13, 15, 16, 17, 18, 19, 21, 25, 28, 29, 31, 32, 34, 36, 37, 39, 40, 42, 44, 45, 50, 52, 56, 57, 58, 60, 64, 65, 66, 67, 69, 72, 75, 76, 83, 84, 90, 92, 94, 95, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [24]:
# Your code here

l_set=(len(set1)),(len(set2)),(len(set3)),(len(set4)),(len(set5))
print(l_set)

result=True

first_len=list[0]

for l in l_set:
    if first_len!= l:
        result = False 
        print('All lenghts are different')
        
        break 
        
    else:
        result = True
        print('All lenghts are equal')

(80, 63, 32, 15, 48)
All lenghts are different

In [95]:
len(set2)

66

In [96]:
len(set3)

29

In [97]:
len(set4)

15

In [98]:
len(set5)

51

#### Create an empty set called `set6`.

In [79]:
# Your code here

set6={''}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [80]:
# Your code here

set6.update(set3)
print(set6)

{'', 1, 2, 3, 4, 67, 68, 70, 15, 16, 17, 18, 19, 79, 80, 86, 87, 27, 93, 96, 97, 36, 39, 40, 41, 45, 47, 50, 55, 61}

In [81]:
set6.pop()

''

In [82]:
print(set6)

{1, 2, 3, 4, 67, 68, 70, 15, 16, 17, 18, 19, 79, 80, 86, 87, 27, 93, 96, 97, 36, 39, 40, 41, 45, 47, 50, 55, 61}

#### Check if `set1` and `set6` are equal.

In [83]:
# Your code here

set_equal=set1.isdisjoint(set6)
print(set_equal)

#por lo tanto son iguales

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [84]:
# Your code here

s2_ss_s1=set2.issubset(set1)
print(s2_ss_s1)

False

In [85]:
s3_ss_s1=set3.issubset(set1)
print(s3_ss_s1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [86]:
# Your code here

set_u1= set3.union(set4,set5)

set_u2=set_u1.union(set1,set2)

print(set_u2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [87]:
# Your code here

print(set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 53, 55, 56, 57, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 73, 74, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

In [88]:
set1.pop()

1

In [89]:
print(set1)

{2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 53, 55, 56, 57, 59, 60, 61, 64, 65, 66, 67, 68, 69, 70, 73, 74, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [91]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1_remove=set1-set(list_to_remove)

print(set1_remove)

{2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 48, 50, 53, 55, 56, 57, 60, 64, 65, 66, 67, 68, 70, 73, 74, 77, 78, 80, 82, 84, 85, 86, 87, 90, 92, 93, 94, 95, 96, 97, 98, 100}